@media screen and (max-width: 640px) {
	/* header */
	header nav {
		background-color: #346D98;
	}
	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	.header li a {
		display: block;
		padding: 20px 20px;
		text-decoration: none;
        color: #fff;
	}
	.header li a:hover,
	.header .menu-btn:hover {
		background-color: #104E7E;
	}
	.header .logo {
		display: block;
		float: left;
		padding: 10px 20px;
		text-decoration: none;
	}
	/* menu */
	.header .menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	/* menu icon */
	.header .menu-icon {
		cursor: pointer;
		display: inline-block;
		float: right;
		padding: 28px 20px;
		position: relative;
		user-select: none;
	}
	.header .menu-icon .navicon {
		background: #333;
		display: block;
		height: 2.5px;
		position: relative;
		transition: background .2s ease-out;
		width: 18px;
	}
	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
		background: #333;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
	}
	.header .menu-icon .navicon:before {
		top: 5px;
	}
	.header .menu-icon .navicon:after {
		top: -5px;
	}
	/* menu btn */
	.header .menu-btn {
		display: none;
	}
	.header .menu-btn:checked~.menu {
		max-height: 240px;
	}
	.header .menu-btn:checked~.menu-icon .navicon {
		background: transparent;
	}
	.header .menu-btn:checked~.menu-icon .navicon:before {
		transform: rotate(-45deg);
	}
	.header .menu-btn:checked~.menu-icon .navicon:after {
		transform: rotate(45deg);
	}
	.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
    .header nav span img {
        width: 40px;
        height: auto;
    }
}