main {
    margin-top: 65px; 
}

section.users {
    display: inline-block;
    width: 384px;
    height: calc(100% - 65px);
	box-shadow: 5px 0px #e7e7e7;
    overflow: auto;
}

section.users hr {
    margin: 0 auto;
    color: #e7e7e7 
}

section#section_message hr {
    width: 99%;
    color: #e7e7e7;
    margin: auto;
}

a#userBtn {
    width: 90%;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
}

a#userBtn.active .user{
    background: #d8d8d8;
    cursor: pointer
}

a#userBtn .user {
    display: flex;
    list-style: none;
    padding: 10px;
}

a#userBtn .user li img.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

/* messages */
section.messages {
    display: inline;
    width: calc(100% - 389px);
    position: absolute;
    right: 0;
    height: calc(100% - 125px - 60px);
    overflow:scroll;
}

ul#message ul {
    list-style: none;
    display: flex;
    margin: 5px;
/*    display: absolute;*/
/*    right: 0;*/
}

ul#message li.sender {
/*
    float: right;
    display: block;
*/
}

ul#message li img.profile-picture {
    width: 100px;
    border-radius: 100%;
}

.message-container {
    margin: auto 10px;
}

.message-container .message {
    display: block;
    padding: 14px 16px;
    border-radius: 30px;
}

.sender .message-container .message {
    background: #467060;
    color: #fff;
}

.receiver .message-container .message {
    background: #d8d8d8;
}

/* inputZone */
section.inputZone {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 389px);
    height: 125px;
    background: #F2F2F2;
	border-top: 5px solid #e7e7e7;
}
section.inputZone .input {
    position: relative;
    height: 80px;
    top: 12.5px;
    left: 40px;
    padding: 10px;
    border: 1px solid #919191;
    border-radius: 20px;
    overflow-y: auto;
}

.input_submit {
    position: relative;
    display: inline-block;
    left: 50%;
    top: calc(50% - 24.2px);
    
    background-color: #467060;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}

form ul {
    display: flex;
    list-style: none;
}

form ul li.test {
    width: 50%;
}

.username {
    display: block;
}
