/*

Colors : http://paletton.com/#uid=13x0u0kmvtJ1STDe4D8tVoBI7gP

*/

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
body {
	margin: 0;
	padding: 0;
	background-color: #DDE5EA;
	font-family: sans-serif;
}

main {
	width: 90%;
	margin: 20px auto;
	border-radius: 15px;
	background-color: #B3C4D0;
}

.content {
	width: 90%;
	margin: 10px auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.game-activity {
	padding: 1%;
	font-size: 15pt;
	margin: 10px 0;
	background: #fff;
	max-width: 25%;
	letter-spacing: 0.30px;
	font-family: 'Zilla Slab', serif;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .20);
	color: rgba(27, 79, 114, 0.8);
	border-radius: 0 10px 10px 0;
}

blockquote q {
	quotes: ' ' ' ';
}

cite {
	padding-left: .8%;
	font-size: 17px;
}

cite:before {
	content: '- ';
	font-weight: bold;
}


/* Style Colors */

.color-green {
	border-left: 8px solid #2ecc71;
}

.color-red {
	border-left: 8px solid #ed5565;
}

.color-yellow {
	border-left: 8px solid #ffcd69;
}

.color-cyan {
	border-left: 8px solid #46cfb0;
}

.color-grey {
	border-left: 8px solid #656d77;
}

.color-pink {
	border-left: 8px solid #ed87bd;
}

.game-activity blockquote button {
	align-content: flex-end;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	background-color: #e7e7e7;
	color: black;
}


/* Responsive : Computer */

@media (min-width: 640px) {
	.header nav {
		width: 100%;
		height: 80px;
		background-color: #346D98;
	}
	.header nav .logo img {
		height: 80px;
		margin-left: 10px;
		transition: .5s;
	}
	.header .menu-icon,
	.header .menu-btn {
		display: none;
	}
	.header ul {
		top: auto;
		right: auto;
		position: relative;
		margin: 0;
		padding: 0;
		display: flex;
	}
	.header li {
		list-style: none;
	}
	.header li a {
		line-height: 80px;
		color: #fff;
		border-radius: 50px;
		font-family: 'Roboto', sans-serif;
		padding: 5px 16px;
		margin-right: 10px;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
	}
	.header li a:hover,
	.header li a:active {
		color: #fff;
		cursor: pointer;
		text-decoration: none;
		background-color: #104E7E;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	/* search bar */
	.search-box {
        display: inline-block;
		margin: 20px 10px;
		background: #2f3640;
		height: 25px;
		border-radius: 40px;
		padding: 10px;
	}
	.search-btn {
		border: none;
		float: right;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13pt;
		background: white;
		color: #000;
	}
	.search-txt {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: .3s;
		line-height: 23px;
		width: 200px;
		padding-left: 5px;
		margin-right: 5px;
	}
}


/* Responsive : Phone */

@media screen and (max-width: 640px) {
	/* header */
	header nav {
		background-color: #346D98;
        padding: 0;
        margin: 0;
	}
	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
	.header li a {
		display: block;
		padding: 20px 20px;
		text-decoration: none;
		color: #fff;
	}
	.header li a:hover,
	.header .menu-btn:hover {
		background-color: #104E7E;
	}
	.header .logo {
		display: inline-block;
		text-decoration: none;
	}
	/* menu */
	.header .menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	/* menu icon */
	.header .menu-icon {
		cursor: pointer;
		display: inline-block;
		float: right;
		padding: 28px 20px;
		position: relative;
		user-select: none;
	}
	.header .menu-icon .navicon {
		background: #333;
		display: block;
		height: 2.5px;
		position: relative;
		transition: background .2s ease-out;
		width: 20px;
	}
	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
		background: #333;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transition: all .2s ease-out;
		width: 100%;
	}
	.header .menu-icon .navicon:before {
		top: 5px;
	}
	.header .menu-icon .navicon:after {
		top: -5px;
	}
	/* menu btn */
	.header .menu-btn {
		display: none;
	}
	.header .menu-btn:checked~.menu {
		max-height: 240px;
	}
	.header .menu-btn:checked~.menu-icon .navicon {
		background: transparent;
	}
	.header .menu-btn:checked~.menu-icon .navicon:before {
		transform: rotate(-45deg);
	}
	.header .menu-btn:checked~.menu-icon .navicon:after {
		transform: rotate(45deg);
	}
	.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
	.header nav span img {
		height: 60px;
	}
	/* SearchBar */
	.search-box {
        display: inline-block;
		background: #2f3640;
		height: 25px;
		border-radius: 40px;
		padding: 10px;
	}
    .search-box:focus-within>.search-txt,
	.search-box:hover>.search-txt {
        width: calc(100% - 40px);
		padding: 0 6px;
	}
    .search-box:focus-within>.search-btn,
	.search-box:hover>.search-btn {
		background: white;
		color: #000;
	}
	.search-btn {
		border: none;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 13pt;
		background: #2f3640;
		color: #fff;
        float: right;
	}
	.search-txt {
		border: none;
		background: none;
		outline: none;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: .3s;
		line-height: 23px;
		width: 0px;
		padding-left: 5px;
		margin-right: 5px;
	}
    .search-box:focus-within{
        width: calc(100% - 175px);
    }
    .search-box:focus-within .search-txt{
        width: calc(100% - 50px);
        padding: 0 6px;
    }
    .search-box:focus-within .search-btn {
        background: white;
        color: #000;
    }
    .search-box:hover{
        width: calc(100% - 175px);
    }
}