/* 
 * ====================================================
 * Color - Paleton :
 * http://paletton.com/#uid=13l0u0k++jlZLuK+XoK+ZdC+Y65
 * ====================================================
 */

* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background: #F0F0F0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: rgba(170, 170, 170, .75);
}

/* header */

nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: rgb(232, 232, 232);
	box-shadow: 0px 5px #d8d8d8;
	z-index: 100;
}

ul#left {
	position: fixed;
	left: 50px;
	display: flex;
	list-style: none;
	overflow: hidden;
	z-index: 1;
}

ul#left li a#profile,
a#message,
a#friend {
	display: block;
	color: #000;
	text-align: center;
	padding: 18.5px 14px;
	width: 100px;
	text-decoration: none;
	font-size: 14pt;
}

ul#left li a#profile.active,
a#message.active,
a#friend.active {
	color: #416557;
	border-bottom: 2.5px solid #416557;
}

ul#left li a#profile:hover,
a#message:hover,
a#friend:hover {
	color: #467060;
	border-bottom: 2.5px solid #467060;
	transition: all .07s ease-out;
    cursor: pointer;
}

ul#center {
	display: flex;
	justify-content: center;
	list-style: none;
}

ul#center li a img {
	width: 50px;
	margin: 2.5px;
}

ul#right {
	position: fixed;
	right: 50px;
	list-style: none;
}


/* footer */

footer {
	position: fixed;
	bottom: 20;
	left: 50;
}

.formfield-select--container {
	position: relative;
	background-color: #fff;
	border: #777 1px solid;
	overflow: hidden;
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 110%;
	height: auto;
	border: 0;
	margin: 0;
	padding: .75em;
	border-radius: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

.formfield-select--container::after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -3px;
	right: -.75em;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-top-color: #444;
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}


/* Wall */

.wall-box {
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	width: 590px;
	height: calc(100% - 90px);
	background: #D7D7D7;
	border-radius: 20px 20px 0 0;
}


/* Post design */

.status-form {
	position: relative;
	top: 10px;
	z-index: 0;
	margin: auto;
	padding: 10px;
	width: 90%;
	height: 190px;
	background: #fff;
	border-radius: 10px;
}

.status-form .text-area {
	height: calc(100% - 70px);
	height: 75px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 7.5px;
	border: 1px solid #D9D9D9;
	border-radius: 5px;
}

.status-form input[type=submit] {
	display: inline-block;
	position: absolute;
	right: calc(5% - 5px);
	background-color: #807F7F;
	border: none;
	color: white;
	padding: 16px 28px;
	text-decoration: none;
	margin: 7.5px;
	cursor: pointer;
}

.text-area::-webkit-scrollbar {
	width: 10px;
}

.text-area::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}


/* Select post or event */

.section-name {
	margin-left: calc(5% - 7.5px);
}

.status-form hr {
	width: 92.5%;
	margin: 10px auto;
	border: 1px solid #f1f1f1;
}

.event-form {
	position: absolute;
	right: calc(5% + 30px);
}


/* The Modal (background) */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #d8d8d8;
	width: 790px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

/* The Close Button */

.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background: rgb(232, 232, 232);
	box-shadow: 0px 5px #d8d8d8;
	color: #000;
}

.modal-body {
	margin: 10px auto;
	padding: 2px 16px;
    overflow: auto;
    height: 70%;
}

.modal-user {
    width: 90%;
    margin: 0 auto;
}

.modal-user a {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
}

.modal-user a:hover {
    background: #e4e4e4;
}

.modal-user ul {
    display: flex;
	list-style: none;
} 

.modal-user ul li img.profile-picture {
    width: 135px;
    height: 135px;
    border-radius: 100%;
}

.modal-user ul li.profile-information {
/*    color: #000;*/
    position: relative;
    top: 50px;
    left: 20px;
}

.modal-user ul li.profile-information .time {
    color: grey;
    font-style: italic;
}